{% extends 'base.html.twig' %}

{% block title %}Etudiant{% endblock %}

{% block body %}
<div class="container">

    <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
        <ul>
            <li><a href="#">Administration</a></li>
            <li><a href="{{ path('app_etudiant_index') }}">Etudiants</a></li>
            <li class="is-active"><a href="#" aria-current="page">Affichage</a></li>
        </ul>
    </nav>

    <h1 class="title">Affichage d'un étudiant</h1>

    <div class="table-container">
        <table class="table is-fullwidth is-striped">
            <tbody>
                <tr>
                    <th>INE</th>
                    <td>{{ etudiant.ine }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ etudiant.nom }}</td>
                </tr>
                <tr>
                    <th>Prénom</th>
                    <td>{{ etudiant.prenom }}</td>
                </tr>
                <tr>
                    <th>Date de naissance</th>
                    <td>{{ etudiant.dateDeNaissance ? etudiant.dateDeNaissance|date('Y-m-d') : '' }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h2 class="title is-4">Parcours de l'étudiant</h2>

    <p>SOON...</p>

    <div class="is-flex is-justify-content-center">
        <a class="button is-primary is-light mr-4 is-block" href="{{ path('app_etudiant_edit', {'id': etudiant.ine}) }}">Editer</a>

        {{ include('etudiant/_delete_form.html.twig') }}
    </div>


</div>
{% endblock %}
