{% extends 'base.html.twig' %}

{% block title %}Liste des parcours type
{% endblock %}

{% block body %}
	<div class="container">

		<nav class="breadcrumb is-centered" aria-label="breadcrumbs">
			<ul>
				<li>
					<a href="#">Administration</a>
				</li>
				<li class="is-active">
					<a href="#" aria-current="page">Parcours type</a>
				</li>
			</ul>
		</nav>

		<div class="is-flex is-justify-content-space-between">
			<h1 class="title">
				Liste des parcours type
			</h1>
			<a class="button is-primary is-block is-light" href="{{ path('app_parcours_type_new') }}">Ajouter</a>
		</div>

		<div class="table-container">
			<table class="table is-fullwidth is-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nom</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for parcours_type in parcours_types %}
						<tr>
							<td>{{ parcours_type.id }}</td>
							<td>{{ parcours_type.nom }}</td>
							<td>
								<a href="{{ path('app_parcours_type_show', {'id': parcours_type.id}) }}">
									<span class="icon-text">
										<span class="icon">
											<i class="fas fa-eye"></i>
										</span>
										<span>Afficher</span>
									</span>
								</a>
								<a href="{{ path('app_parcours_type_edit', {'id': parcours_type.id}) }}">
									<span class="icon-text">
										<span class="icon">
											<i class="fas fa-pen"></i>
										</span>
										<span>Editer</span>
									</span>
								</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="3">Aucun parcours type</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
