{% extends 'base.html.twig' %}

{% block title %}Semestre
{% endblock %}

{% block body %}
	<div class="container">

		<nav class="breadcrumb is-centered" aria-label="breadcrumbs">
			<ul>
				<li>
					<a href="#">Administration</a>
				</li>
				<li>
					<a href="{{ path('app_semestre_index') }}">Semestre</a>
				</li>
				<li class="is-active">
					<a href="#" aria-current="page">Affichage</a>
				</li>
			</ul>
		</nav>

		<h1 class="title">Affichage d'un semestre</h1>

		<div class="table-container">
			<table class="table is-fullwidth is-striped">
				<tbody>
					<tr>
						<th>ID</th>
						<td>{{ semestre.id }}</td>
					</tr>
					<tr>
						<th>Type</th>
						<td>{{ semestre.type }}</td>
					</tr>
					<tr>
						<th>Pair</th>
						<td>{{ semestre.pair ? 'Oui' : 'Non' }}</td>
					</tr>
					<tr>
						<th>Année</th>
						<td>{{ semestre.annee }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="is-flex is-justify-content-center">
			<a class="button is-primary is-light mr-4 is-block" href="{{ path('app_semestre_edit', {'id': semestre.id}) }}">Éditer</a>

			{{ include('semestre/_delete_form.html.twig') }}
		</div>
	</div>
{% endblock %}
