{% extends 'base.html.twig' %}

{% block title %}UEValide index{% endblock %}

{% block body %}
    <h1>UEValide index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Valide</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for u_e_valide in u_e_valides %}
            <tr>
                <td>{{ u_e_valide.id }}</td>
                <td>{{ u_e_valide.valide ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_u_e_valide_show', {'id': u_e_valide.id}) }}">show</a>
                    <a href="{{ path('app_u_e_valide_edit', {'id': u_e_valide.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_u_e_valide_new') }}">Create new</a>
{% endblock %}
